<!DOCTYPE html>
<html>
<head>
<title>Joe Bloggs - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href={{ asset ("style.css") }}>
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/my_cv/public/img/photo.jpg" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Bastien Cottin Bizonne</h1>
			<h2 class="quickFade delayThree">Étudiant DUT MMI</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="bast.cottin@gmail.com" target="_blank">Mail</a></li>
				<li><a href="www.bastiencottinbizonne.site">Site Web</a></li>
				<li>0638588351</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="col-md-9 col-sm-9 col-xs-12">
    				<ul>
    				{% for profil in profils %}
				<div class="sectionTitle">
					
					<h1> Profil </h1>
				</div>
				
				<div class="sectionContent">
					<p> {{ profil.getDescription() }} </p>
				</div>
			</article>
			{% endfor %}
    			</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1> Expériences pros</h1>
				{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('form_experience') }}">Create New</a>{% endif %}
			</div>
			
			<div class="sectionContent">
				<div class="col-md-9 col-sm-9 col-xs-12">
    				<ul>
    				{% for experience in experiences %}
				<article>
					<h2> {{ experience.getName() }} </h2> 
					{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('form_experience_edit',{'id':experience.getId()}) }}">Edit</a>{% endif %}
					{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('form_experience_delete',{'id':experience.getId()}) }}">Delete</a>{% endif %}
					
					<p class="subDetails"> {{ experience.getPlace() }} {{ experience.getDate()|date("m/d/Y") }} </p>
					<p> {{ experience.getDescription() }} </p>
				</article>
				{% endfor %}
    			</ul>
			</div>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1> Compétences</h1>
			</div>
			
			<div class="sectionContent">
				<div class="col-md-9 col-sm-9 col-xs-12">
    				<ul class="keySkills">
    				{% for competence in competences %}
				
					<li> {{ competence.getName() }} - {{ competence.getPercent() }}% </li>
					
				{% endfor %}
    			</ul>
			</div>
			</div>
			<div class="clear"></div>
		</section>

		<section> 
			<div class="sectionTitle">
				<h1> Formation</h1>
			</div>
			<div class="sectionContent">
			<div class="col-md-9 col-sm-9 col-xs-12">
    			<ul>
    				{% for formation in formations %}
        			<article>
						<h2> {{ formation.getName() }} </h2>
						<a href="{{ path('form_formation_edit',{'id':formation.getId()}) }}">Edit</a>
						<p class="subDetails"> {{ formation.getPlace() }} {{ formation.getDate()|date("m/d/Y") }} </p>
						<p> {{ formation.getDescription() }} </p>
					</article>
    				{% endfor %}
    			</ul>
			</div>	
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>